<div class="dog">

  <h1>It's a dog</h1>

  <div>
    <% @breeds_bond.each do |key, value| %>
      <div class="breed">
        <div class="breed-name" id="<%=key%>" onclick="showImage(this)">
          <%= key.humanize %>
        </div>
        <div id="<%=key%>_image" class="breed-image" style="display: none;">
          <%= image_tag value %>
        </div>
      </div>
    <% end %>
  </div>


</div>
<script>
  var showImage = function(obj){
      var hideAll = document.getElementsByClassName('breed-image');
      for (var i = 0; i < hideAll.length; i++) {
          hideAll[i].style.display = "none";
      }
      var image_element = document.getElementById(obj.id+'_image');
      if (image_element.style.display === "none") {
          image_element.style.display = "block";
      } else {
          image_element.style.display = "none";
      }
  }
</script>